html {
  height: auto;
  min-height: 100%;
  width: 100%;
  background: #F0F0F0; }

.cc-container {
  width: 100%;
  height: 100%;
  position: relative; }
  .cc-container .cc-header {
    width: 100%;
    height: auto;
    margin-bottom: 1.25rem;
    background: #2D323C; }
    .cc-container .cc-header .cc-header-container {
      margin: 0 auto;
      height: 6.25rem;
      /*.cc-live-name{
        float: left;
      }*/ }
      .cc-container .cc-header .cc-header-container .title, .cc-container .cc-header .cc-header-container .cc-live-name {
        line-height: 6.25rem;
        color: #fff;
        font-size: 2.375rem;
        padding: 0 1.875rem;
        float: left; }
  .cc-container .cc-banner {
    width: 100%;
    height: auto; }
    .cc-container .cc-banner .cc-banner-container {
      margin: 0 auto;
      width: 80rem;
      height: 47.5rem;
      padding: 1.875rem;
      background: #3dadff; }
      .cc-container .cc-banner .cc-banner-container .cc-video-container {
        float: left;
        width: 53.75rem;
        height: 33.75rem; }
        .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-video-box {
          width: 100%;
          height: 27.5rem;
          background: #316661; }
        .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel {
          width: auto;
          height: 19.375rem;
          padding-top: 0.625rem;
          background: #27c3bb; }
          .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control {
            float: left;
            height: 16.875rem;
            width: 28.75rem;
            padding: 1.25rem;
            background: #2D323C; }
            .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .control-btn {
              color: #fff;
              background-color: #2590EB;
              border-color: #2263ae;
              display: inline-block;
              padding: 6px 12px;
              margin: 3px;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.42857143;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              float: left;
              border: 1px solid transparent;
              border-radius: 4px; }
              .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .control-btn .cc-online-num {
                color: #f0ffe8;
                font-style: normal; }
            .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .control-input {
              width: 18.75rem;
              padding: 6px 12px;
              border: 1px solid #ccc;
              background: #fff;
              margin-left: 0.3125rem;
              font-size: 1.25rem;
              font-weight: 400; }
            .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .cc-bullet-active, .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .cc-strip-active, .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .cc-microphone-ative, .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .cc-doc-active {
              background-color: #ce4844;
              background-color: #a1433f; }
            .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-video-control .cc-control-bar {
              height: 2.5rem;
              width: 100%;
              padding: 6px 12px;
              margin: 3px; }
          .cc-container .cc-banner .cc-banner-container .cc-video-container .cc-panel .cc-doc-box {
            float: left;
            height: 100%;
            width: 21.875rem;
            margin-left: 0.625rem;
            background: #2D323C; }
      .cc-container .cc-banner .cc-banner-container .cc-chat-container {
        float: left;
        width: 23.75rem;
        height: 46.25rem;
        padding: 0.625rem;
        margin-left: 0.9375rem;
        background: #362a9f; }
        .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-interact {
          width: 23.75rem;
          height: 16.25rem;
          background: #ff9c59;
          border-bottom: 2px solid #ddd; }
          .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-interact .call-box {
            width: 100%;
            height: 100%;
            position: relative; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-interact .call-box video {
              position: absolute; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-interact .call-box .call-tit {
              position: absolute;
              top: 50%;
              width: 100%;
              font-size: 1.5rem;
              font-weight: 700;
              color: #fff;
              text-align: center; }
        .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list {
          width: 100%;
          height: 300px;
          background: #F4F7FF;
          overflow-x: hidden;
          overflow-y: scroll; }
          .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item {
            min-height: 2.8125rem;
            height: auto;
            width: 18.75rem;
            padding: 1.25rem;
            float: left;
            line-height: 1.5625rem;
            font-size: 1.125rem; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item .cc-chat-user {
              height: 1.25rem;
              width: 100%;
              background: #dde1f5;
              font-weight: 800;
              font-size: 1.25rem; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item .cc-chat-word {
              padding-left: 3.75rem;
              background: #dde1f5; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item .cc-chat-time {
              font-size: 0.625rem;
              color: #818181; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item.me {
              float: right; }
              .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item.me .cc-chat-user {
                text-align: right;
                padding-bottom: 0.3125rem; }
              .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-msg-list .cc-msg-item.me .cc-chat-word {
                text-align: right; }
        .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel {
          background: #dfe3ee;
          border-top: 2px solid #ddd;
          width: 100%;
          height: 180px;
          -moz-box-shadow: 0px -4px 2px #333333;
          -webkit-box-shadow: 0px -4px 2px #333333;
          box-shadow: 0px -4px 2px #333333; }
          .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar {
            width: 100%;
            height: 3.125rem; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-emotion {
              float: left;
              width: 2.375rem;
              height: 2.375rem;
              margin-left: 1.25rem;
              margin-top: 0.3125rem;
              background: url("../img/smile.png") no-repeat center 50%;
              background-size: cover;
              position: relative; }
              .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-emotion .cc-chat-emotionList {
                position: absolute;
                bottom: 2.8125rem;
                left: 0;
                width: 12.375rem;
                height: 9.375rem;
                padding: 0.625rem;
                background: #f0fbf4;
                border: 2px solid #ddd;
                overflow-x: hidden;
                overflow-y: auto; }
                .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-emotion .cc-chat-emotionList .cc-chat-emotionItem {
                  float: left;
                  width: 1.5rem;
                  height: 1.5rem;
                  margin: 0.125rem;
                  box-sizing: border-box; }
                  .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-emotion .cc-chat-emotionList .cc-chat-emotionItem .cc-chat-face {
                    width: 100%;
                    height: 100%; }
                    .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-emotion .cc-chat-emotionList .cc-chat-emotionItem .cc-chat-face img {
                      width: 100%;
                      height: 100%; }
                  .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-emotion .cc-chat-emotionList .cc-chat-emotionItem:hover {
                    border: 1px solid #ccc; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent {
              width: 260px;
              float: right;
              margin-left: 1.25rem;
              height: 3.125rem;
              line-height: 2.5rem;
              font-size: 1.25rem;
              position: relative; }
              .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent i, .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent ul {
                float: left;
                font-style: normal; }
              .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent .cc-chat-users {
                position: absolute;
                bottom: 3.125rem;
                left: 1.25rem;
                border-bottom: none; }
                .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent .cc-chat-users .cc-chat-users-item {
                  border-bottom: 1px dashed #ccc; }
              .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent .cc-chat-people, .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-bar .cc-chat-opponent .cc-chat-users {
                min-height: 2.375rem;
                height: auto;
                width: 160px;
                border: 1px solid #ddd;
                background: #fff;
                margin: 0 0.3125rem;
                float: left;
                text-align: center; }
          .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-input {
            width: 90%;
            margin: 0 auto;
            height: 60px;
            background: #fff;
            border-radius: 0.3125rem;
            padding: 0.625rem; }
          .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-submit {
            height: 1.875rem;
            width: 90%;
            margin: 0.625rem auto; }
            .cc-container .cc-banner .cc-banner-container .cc-chat-container .cc-chat-panel .cc-chat-submit button {
              color: #fff;
              background-color: #2590EB;
              border-color: #2263ae;
              display: inline-block;
              padding: 6px 12px;
              margin-bottom: 0;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.42857143;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              float: right;
              border: 1px solid transparent;
              border-radius: 4px; }

.cc-sign-title {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.5rem; }
  .cc-sign-title .cc-time {
    font-style: normal; }

.cc-sign-btn {
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  font-size: 1.875rem;
  font-weight: 600;
  border-radius: 50%;
  background: #3dadff;
  margin-left: 6.875rem;
  margin-top: 0.625rem; }
  .cc-sign-btn-active {
    background: #ff0d30; }
  .cc-sign-btn-end {
    background: gray; }

.cc-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 0; }
  .cc-mask .cc-modal {
    width: 30rem;
    height: 17.5rem;
    padding: 1.25rem;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16.25rem;
    margin-top: -10rem;
    border-radius: 0.625rem; }
    .cc-mask .cc-modal .cc-modal-title {
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 1.5rem;
      font-weight: 600; }
    .cc-mask .cc-modal .cc-modal-content {
      margin: 1.25rem auto;
      width: 18.75rem;
      height: 8.75rem;
      line-height: 1.625rem;
      font-size: 1.25rem; }
    .cc-mask .cc-modal .cc-modal-control-bar {
      width: 100%;
      height: 3.75rem;
      margin: 0 auto; }
      .cc-mask .cc-modal .cc-modal-control-bar .control-modal-btn {
        color: #fff;
        background-color: #2590EB;
        border-color: #2263ae;
        display: inline-block;
        padding: 10px 32px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        float: right;
        border: 1px solid transparent;
        border-radius: 4px; }
        .cc-mask .cc-modal .cc-modal-control-bar .control-modal-btn:nth-child(1) {
          float: left;
          margin-left: 3.125rem; }
        .cc-mask .cc-modal .cc-modal-control-bar .control-modal-btn:nth-child(2) {
          float: right;
          margin-right: 3.125rem; }
    .cc-mask .cc-modal .cc-modal-alert button:nth-child(1) {
      width: 12.5rem;
      margin-left: 8.75rem !important; }
    .cc-mask .cc-modal .cc-modal-alert button:nth-child(2), .cc-mask .cc-modal .cc-modal-alert button:nth-child(3), .cc-mask .cc-modal .cc-modal-alert button:nth-child(4) {
      display: none; }

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

/*# sourceMappingURL=ccLiveDemo.css.map */
